<section class="py-5 my-5">
  <div class="intro text-center">
    <h4 class="text-light">Know Everything… About Us</h4>
    <h1 class="fs-lg">About Royal Sheild</h1>
    <p class="text-light">"Advanced Protection. Lasting Excellence."</p>
  </div>
  <div class="intro-img">
    <img
      src="https://images.pexels.com/photos/38570/lamborghini-car-speed-prestige-38570.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      alt=""
    />
  </div>
</section>

<section class="py-5 my-5">
  <div class="container">
    <h1 class="text-center mb-5">Our Storie</h1>
    <div class="row align-items-center g-3">
      <div class="col-lg-6">
        <img
          src="https://images.pexels.com/photos/4489716/pexels-photo-4489716.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt="team"
          class="w-100"
        />
      </div>
      <div class="col-lg-6">
        <div>
          <h2>Royal Shield Story</h2>
        </div>
        <p class="text-light">
          Royal Shield was founded with a passion for delivering unmatched car
          protection products. Our journey began with a commitment to providing
          vehicle owners with the finest solutions to preserve the beauty and
          durability of their cars.
        </p>
        <p class="text-light">
          Over the years, we have built a reputation for excellence by
          continually innovating and perfecting our product line. Every item we
          offer is designed with the highest standards of quality, ensuring your
          vehicle remains protected from the elements, wear, and tear.
        </p>
        <p class="text-light mb-5">
          At Royal Shield, our story is one of dedication, quality, and a
          relentless pursuit of perfection. We take pride in helping our
          customers keep their cars looking brand new, and our mission continues
          to evolve as we strive to lead the industry in car protection.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="py-5 my-5">
  <div class="container-fluid">
    <div class="row g-3">
      <div class="col-md-6 cards-parent">
        <div
          class="my-card"
          style="background-image: url(./imgs/pexels-albinberlin-919073.jpg)"
        >
          <div class="card-text">
            <h2>Vision</h2>
            <p>
              To be the global leader in advanced nano ceramic technology,
              delivering unparalleled protection and enhancement for vehicles
              and surfaces. We strive to set new standards in durability,
              aesthetic excellence, and environmental sustainability, empowering
              our customers with cutting-edge solutions that preserve and
              elevate the value of their investment
            </p>
            <a routerLink="/about" class="dark-btn">Explore</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="my-card"
          style="background-image: url(./imgs/pexels-tim-samuel-5834954.jpg)"
        >
          <div class="card-text">
            <h2>Mission</h2>
            <p>
              At Royal Shield, our mission is to revolutionize surface
              protection with our cutting-edge nano ceramic technology. We are
              dedicated to delivering superior durability and an unparalleled
              finish to every surface we touch. By combining innovation,
              precision, and excellence, we empower our customers to safeguard
              their investments with confidence and style
            </p>
            <a routerLink="/about" class="dark-btn">Explore</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="py-5 my-5">
  <div class="container">
    <h1 class="text-center mb-5">What We Care About The Most</h1>

    <div class="row g-5 mt-5">
      <div class="col-md-4">
        <div class="text-center">
          <i
            class="fa-solid fa-screwdriver-wrench"
            style="color: rgb(184, 121, 58)"
          ></i>
          <h4 class="fw-light">Efficiency</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <i class="fa-solid fa-user" style="color: rgb(140, 69, 205)"></i>
          <h4 class="fw-light">Customer Satisfaction</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <i class="fa-solid fa-clock" style="color: rgb(136, 71, 71)"></i>
          <h4 class="fw-light">Customer Satisfaction</h4>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="py-5 my-5">
  <div class="container">
    <h1 class="text-center mb-5">Sustainability</h1>
    <div class="row align-items-center g-3">
      <div class="col-lg-6 order-1 order-lg-0">
        <div>
          <h2>Efforts the Company Makes Towards Sustainability</h2>
        </div>
        <p class="text-light">
          At Royal Shield, we are committed to reducing our environmental impact
          through sustainable practices. From sourcing eco-friendly materials to
          minimizing waste in our production processes, we strive to make a
          positive contribution to the environment.
        </p>
        <p class="text-light">
          Our products are designed with longevity in mind, reducing the need
          for frequent replacements and contributing to less waste. We also
          prioritize using recyclable packaging and energy-efficient production
          methods.
        </p>
        <p class="text-light mb-5">
          As part of our mission to protect both vehicles and the planet, Royal
          Shield is continuously exploring new ways to enhance sustainability in
          all aspects of our business. We believe that protecting your car and
          preserving the environment should go hand in hand.
        </p>
      </div>

      <div class="col-lg-6">
        <img src="./imgs/sustainability.jpg" alt="team" class="w-100" />
      </div>
    </div>
  </div>
</section>

<section class="py-5 my-5">
  <div class="container-fluid">
    <h1 class="text-center mb-5">Leadership Team</h1>
    <div class="banner-wrapper">
      <img
        src="https://images.pexels.com/photos/2598630/pexels-photo-2598630.jpeg"
        class="w-100 mb-5"
        alt=""
      />
    </div>
  </div>
  <p class="text-light mx-auto text-center mt-4" style="max-width: 1000px">
    At Royal Shield, our team is the backbone of our success. Comprising
    seasoned industry professionals and innovative thinkers, each member brings
    a wealth of experience and a shared passion for excellence in car
    protection. From our skilled engineers who design cutting-edge products to
    our dedicated customer support team, every individual is committed to
    delivering the highest quality and ensuring our customers' satisfaction.
  </p>
</section>

<section class="py-5 my-5">
  <div class="container">
    <h1 class="text-center mb-5">Founder Word</h1>
    <div class="row align-items-center g-4">
      <div class="col-lg-6">
        <img src="./imgs/owner.png" alt="team" class="w-100" />
      </div>
      <div class="col-lg-6">
        <p class="fs-20 text-light">
          "As the Founder of Royal Shield, I'm proud of the journey we've taken
          to become a trusted name in car protection. Our commitment to quality
          and innovation has always been at the heart of what we do. We've built
          a company that not only protects vehicles but also earns the trust and
          loyalty of our customers through reliable products and exceptional
          service."
        </p>
        <p class="text-end">James Anderson</p>
      </div>
    </div>
  </div>
</section>
