footer {
  margin-top: 250px;
  background-image: linear-gradient(to top, rgba(203, 137, 50, 0.179), black);
  color: white;
  position: relative;
  width: 100%;
  border-top: 0.5px solid #eee;
}
footer img {
  width: 250px;
  margin-top: 43px;
}
footer span {
  margin-top: 25px;
}
footer h6 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  margin-bottom: 15px;
  margin-top: 50px;
}
footer .col-3 {
  padding-left: 35px;
}
footer a {
  text-decoration: none;
  transition: 0.5s;
  color: white;
}
footer a:hover {
  color: #f5871f;
}
footer .fa-whatsapp {
  margin-right: 5px;
}
.copyright {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  height: 45px;
  padding-top: 15px;
}
.footer-container {
  display: flex;
}
.social {
  display: flex;
  align-items: center;
  margin-top: 13px;
  padding-left: 5px;
}
.social i {
  color: #fff;
  font-size: 17px;
  margin-right: 15px;
}
@media only screen and (max-width: 600px) {
  footer .col-3 {
    padding-left: 0;
  }
  .footer-container {
    flex-direction: column;
  }
  .footer-container .col-3 {
    width: 100% !important;
  }
  .copyright {
    font-size: 11px;
  }
}
