<footer>
  <div class="container footer-container">
    <div class="row">
      <div class="col-xl-3">
        <img
          src="https://tools.royalshieldworld.com/public/imgs/logo.png"
          alt=""
          style="width: 140px"
        />
      </div>
      <div class="col-xl-3">
        <h6>About</h6>
        <p>
          Royal Shield is an American company providing car protection services,
          specializing in extended warranties and repair coverage.
          <br />
          <br />
          They offer tailored plans to cover unexpected vehicle repairs and
          breakdowns.
        </p>
      </div>
      <div class="col-xl-3">
        <h6>Get Help</h6>
        <a>support&#64;royalsheildworld.com</a>
      </div>
      <div class="col-xl-3">
        <h6>Contact</h6>
        <a>contact&#64;royalsheildworld.com</a>
      </div>
    </div>
  </div>
  <div class="copyright">
    Copyright &#169; 2024 | Royal Shield All rights reserved
  </div>
</footer>
