<footer>
  <div class="container footer-container">
    <div class="col-3">
      <img src="./imgs/logo.png" alt="" style="width: 100px" />
      <br />
      <div class="social">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
      <br />
      <span class="address">Address: somewhere over the rainbow </span>
    </div>
    <div class="col-3">
      <h6>About</h6>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati magni
        sint pariatur consequatur perspiciatis voluptas.
        <br />
        <br />
        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
      </p>
    </div>
    <div class="col-3">
      <h6>Get Help</h6>
      <a href="#"><i class="fa-brands fa-whatsapp"></i>Whatsapp Help Line</a>
    </div>
    <div class="col-3">
      <h6>Contact</h6>
      <a href="#">mailmegmail.com</a>
    </div>
  </div>
  <div class="copyright">
    Copyright &#169; 2024 | Royal Shield All rights reserved
  </div>
</footer>
