<nav class="navbar navbar-expand-sm navbar-dark bg-black">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="https://tools.royalshieldworld.com/public/imgs/logo.png"
        alt=""
      />
    </a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="show = true"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      [ngClass]="{ show: show }"
      id="collapsibleNavId"
    >
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/home"
            (click)="hideMinue()"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/resellers"
            (click)="hideMinue()"
            >Resellers</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/contact-us"
            (click)="hideMinue()"
            fragment="royal-shield"
            >Contact Us</a
          >
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link" routerLink="/products" routerLinkActive="active"
            >Products</a
          >
        </li> -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdownId"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Products</a
          >
          <div
            class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="dropdownId"
          >
            <a
              class="dropdown-item"
              (click)="hideMinue()"
              routerLink="/graphene"
              >Nano graphene</a
            >
            <a
              class="dropdown-item"
              (click)="hideMinue()"
              routerLink="/nano-ceramic"
              >Nano Ceramic</a
            >
            <a
              class="dropdown-item"
              (click)="hideMinue()"
              routerLink="/protection-film"
              >Protection Film</a
            >
            <a class="dropdown-item" (click)="hideMinue()" href="/wrapping"
              >Wrapping</a
            >
            <a class="dropdown-item" (click)="hideMinue()" href="/dipping"
              >Dipping</a
            >
            <a class="dropdown-item" (click)="hideMinue()" href="/auto-care"
              >Auto Care</a
            >
            <a class="dropdown-item" (click)="hideMinue()" href="/insulation"
              >Thermal insulation</a
            >
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/about"
            (click)="hideMinue()"
            >About</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
