<section>
  <div class="contact-intro">
    <h1 class="text-center">Dipping</h1>
  </div>
</section>

<section class="mt-5 contact-cards">
  <div class="container gallery-container">
    <div class="product-card">
      <div class="img">
        <img
          src="/imgs/car.png"
          class="car-image"
          [style.background-color]="finalColor"
          #screenshotDiv
        />
      </div>
      <div class="text">
        <h2>Royal Extra Guard</h2>
        <p>
          Is a flexible rubber coating that can be sprayed onto your car,
          offering durable protection and an easy way to change the look
          whenever you want, with simple removal.
        </p>

        <!-- <ul>
          <li>A variety of glossy and matte color options.</li>
          <li>Advanced protection against scratches and UV rays.</li>
          <li>Easy application with bubble-reduction technology.</li>
          <li>Durability lasting up to 10 years.</li>
        </ul> -->
        <div class="color-input">
          <input type="color" [(ngModel)]="color1" (input)="changeColor()" />
        </div>

        <button
          class="btn btn-outline-light save-img-btn"
          (click)="takeScreenshot()"
        >
          Save image
        </button>
      </div>
    </div>
  </div>
</section>
