<section>
  <div class="contact-intro">
    <h1 class="text-center">Thermal insulation</h1>
  </div>
</section>

<section class="mt-5 contact-cards">
  <div class="container gallery-container">
    <div class="product-card">
      <div class="img">
        <img
          src="https://tools.royalshieldworld.com/public/imgs/SHIELD-SOLAR-GUARD.png"
          alt="Self Healing"
          class="product-img"
        />
      </div>
      <div class="text">
        <h2>Shield Solar Guard</h2>
        <p>
          Photonic tint blocks up to 70% of solar energy and up to 98% of
          heat-producing infrared rays for maximum comfort.
        </p>

        <ul>
          <li>
            Designed to enhance visibility by allowing visible light into the
            vehicle while keeping heat out, so you can see clearly and safely.
          </li>
          <li>
            The non-metallic window tint film allows you to stay connected to
            mobile devices, GPS, or satellite radio reception without
            interference.
          </li>
          <li>
            Blocks up to 99% of UV rays, providing a sun protection factor
            (SPF).
          </li>
          <li>
            Our films are durable, virtually maintenance-free, and backed by a
            limited lifetime warranty.
          </li>
          <li>
            This series also features nanotechnology with multi-layer photonic
            films. Enhancing comfort, protecting the vehicle’s interior, and
            blocking UV rays are the key features of our automotive window
          </li>
        </ul>
      </div>
    </div>
    <div class="product-card">
      <div class="text order-1 order-lg-0">
        <h2>Shield UltraCool</h2>
        <ul>
          <li>
            Significantly reduces infrared heat to nano-ceramic absorption
            technology.
          </li>
          <li>
            Blocks high total solar energy to provide greater thermal comfort.
          </li>
          <li>Reduces the sensation of sun exposure on the skin.</li>
          <li>
            No electronic interference, including 5G, with a metal-free design.
          </li>
          <li>
            Low visible light reflection and no mirror-like appearance to
            disrupt your vision.
          </li>
        </ul>
      </div>

      <div class="img">
        <img
          src="https://tools.royalshieldworld.com/public/imgs/shield-ultra-cool.png"
          alt="Hybrid+"
          class="product-img"
        />
      </div>
    </div>
    <div class="product-card">
      <div class="img">
        <img
          src="https://tools.royalshieldworld.com/public/imgs/nano-tent-pro.png"
          alt="Self Healing"
          class="product-img"
        />
      </div>
      <div class="text">
        <h2>Nano Tint Pro</h2>
        <ul>
          <li>
            It ensures years of performance with no chance of the film turning
            purple.
          </li>
          <li>
            Blocks up to 60% of total solar energy entering through your
            windows, keeping your body cooler, protecting you from harmful UV
            rays, and preserving your vehicle's interior.
          </li>
          <li>
            Available in different tint levels that block up to 97% of visible
            light, providing greater privacy for you and your valuables.
          </li>
          <li>
            Significantly reduces glare from bright sunlight, allowing you to
            see better and focus more on driving.
          </li>
        </ul>
      </div>
    </div>
    <div class="product-card">
      <div class="text order-1 order-lg-0">
        <h2>Shield Heat Block X</h2>
        <ul>
          <li>
            The FX thermal insulation series provides strong performance at an
            affordable price.
          </li>
          <li>
            It blocks up to 50 % of total solar energy entering through your
            windows, keeping your body cooler, protecting you from harmful UV
            rays, and preserving your vehicle’s interior.
          </li>
          <li>
            This non-metallic type allows you to stay connected to mobile
            devices, GPS, or satellite radio reception without interference. It
            blocks up to 99% of UV rays, providing a sun protection factor for
            you and your family.
          </li>
        </ul>
      </div>

      <div class="img">
        <img
          src="https://tools.royalshieldworld.com/public/imgs/shield-heat-block.png"
          alt="Hybrid+"
          class="product-img"
        />
      </div>
    </div>
  </div>
</section>
