<section>
  <div class="container">
    <div class="mt-5">
      <button class="btn btn-danger" (click)="warningMsg = true">
        Clear All
      </button>
      <button class="btn btn-secondary ms-2" (click)="exportData()">
        Export Table
      </button>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort id="requests">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let offer">
            {{ offer.name }}
          </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let offer">
            <a [href]="mailTo + offer.email">{{ offer.email }}</a>
          </td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
          <td mat-cell *matCellDef="let offer">{{ offer.phone }}</td>
        </ng-container>

        <!-- Message Column -->
        <ng-container matColumnDef="msg">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Message</th>
          <td mat-cell *matCellDef="let offer" class="msg-body">
            <p>{{ offer.msg }}</p>
          </td>
        </ng-container>

        <!-- Company Column -->
        <ng-container matColumnDef="company">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
          <td mat-cell *matCellDef="let offer">{{ offer.company }}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let offer" style="min-width: 10px">
            <button
              *ngIf="!offer.checked"
              mat-icon-button
              (click)="checkOffer(offer.Id)"
              title="Check"
            >
              <mat-icon>check</mat-icon>
            </button>
            <button
              *ngIf="offer.checked"
              mat-icon-button
              (click)="uncheckOffer(offer.Id)"
              title="Uncheck"
            >
              <mat-icon>close</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="deleteOffer(offer._id)"
              title="Delete"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [ngClass]="{
            'checked-row': row.checked
          }"
        ></tr>
      </table>

      <!-- Paginator -->
      <mat-paginator
        [pageSizeOptions]="paginatorNumbers"
        showFirstLastButtons
        aria-label="Select page"
      ></mat-paginator>
    </div>
  </div>
</section>

<div class="msg" [ngClass]="{ active: warningMsg }">
  <div class="msg-card">
    <p>Are you sure you want to delete all requests?</p>
    <div class="d-flex align-items-center justify-content-end">
      <button class="btn btn-primary" (click)="deleteAll()">Yes</button>
      <button class="btn btn-success ms-3" (click)="warningMsg = false">
        Cancel
      </button>
    </div>
  </div>
</div>
