.wrapper {
  display: flex;
  justify-items: stretch;
}
.side-nav {
  background-color: #faf9fd;
  padding: 20px 5px;
  min-height: 100vh;
  width: 250px;
  position: relative;
  transition: 0.3s;
}
.side-nav.close {
  width: 70px;
}
.toggle {
  position: absolute;
  top: 0;
  left: 100%;
  font-size: 20px;
  margin: 5px;
}
.toggle:hover {
  background-color: #edebf2;
}

.content {
  width: 100%;
}
