<!-- <nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="serials">Serials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="requests">Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="activated-warrantys"
            >Activated-warrantys</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="royal-nano">Royal-Nano</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="side-nav">
  <ul class="list-unstyled">
    <li class="nav-item">
      <a class="nav-link" routerLink="serials" routerLinkActive="active">
        @if (isNavOpen) { Serials } @else {
        <div class="nav-icon" title="Serials">
          <i class="fa-solid fa-book text-secondary"></i>
        </div>
        }
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="requests" routerLinkActive="active">
        @if (isNavOpen) { Requests } @else {
        <div class="nav-icon" title="Requests">
          <i class="fa-solid fa-comment-dots text-secondary"></i>
        </div>
        }
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="activated-warrantys"
        routerLinkActive="active"
      >
        @if (isNavOpen) { Activated-warrantys } @else {
        <div class="nav-icon" title="Activated warrantys ">
          <i class="fa-solid fa-file-lines text-secondary"></i>
        </div>
        }
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="royal-nano" routerLinkActive="active">
        @if (isNavOpen) { Royal-Nano } @else {
        <div class="nav-icon" title="Royal Nano">
          <i class="fa-solid fa-r text-secondary"></i>
        </div>
        }</a
      >
    </li>
  </ul>
</nav>
