.contact-intro {
  width: 100%;
  height: 500px;
  background-image: url(https://images.pexels.com/photos/164634/pexels-photo-164634.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-position: center;
  background-size: cover;
  position: relative;
}
.contact-intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.494);
  z-index: 1;
}

.contact-intro h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  font-size: 60px;
  z-index: 2;
  color: white;
}

.product-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 30px;
  margin-bottom: 20px;
  transition: 0.3s;
}
.product-card h2,
.product-card p,
.product-card li {
  transition: 0.3s;
}

.img img {
  border-radius: 10px;
  transition: 0.3s;
  width: 300px;
}

.product-card:hover {
  background-color: white;
  color: black;
}
@media (max-width: 991.98px) {
  .product-card h2 {
    font-size: 25px;
  }
  .img {
    width: 1000px;
  }
}

@media (max-width: 767.98px) {
  .img img {
    width: 100%;
  }
  .product-card {
    flex-wrap: wrap;
  }
}
