<section>
  <div class="contact-intro">
    <h1 class="text-center">Nano Ceramic Products</h1>
  </div>
</section>

<section class="mt-5">
  <div class="container gallery-container">
    <!-- <div class="product-card">
      <div class="img">
        <img
          src="./imgs/product3.jpeg"
          alt="Graphene Hybrid"
          class="product-img"
        />
      </div>
      <div class="text">
        <h2>Graphene Hybrid</h2>
        <p>
          Graphene Hybrid is a state-of-the-art ceramic coating designed for
          ease of use and visibility with the help of our UV Flashlight and
          patent-pending UV Tracer Technology. This advanced formula delivers
          long-lasting, extreme self-cleaning properties and is suitable for a
          variety of surfaces including single-stage and clear-coated paints,
          glass, plastic trim, polycarbonate, rubber molding, and wheels—all
          with just one bottle.
        </p>
        <ul>
          <li>>9H Hardness, 7+ Years of Protection</li>
          <li>
            50% Increased Coating Resin Compared to the previous Graphene
            Ceramic Coating , providing enhanced resilience.
          </li>
          <li>Additional Silicate Resin Boosts durability and longevity.</li>
        </ul>
      </div>
    </div> -->
    <div class="product-card">
      <div class="img">
        <img
          src="./imgs/product2.jpeg"
          alt="Self Healing"
          class="product-img"
        />
      </div>
      <div class="text">
        <h2>Self Healing</h2>
        <p>
          is a dual-component coating system that leverages innovative Healing
          Fusion Technology to integrate multiple layers into a single,
          resilient, and long-lasting protective surface
        </p>

        <ul>
          <li>
            Cutting and Drilling Tools: Combining diamond particles with a metal
            matrix to improve performance and durability.
          </li>
          <li>
            Wear-resistant Coatings: Enhancing the lifespan of surfaces exposed
            to high wear.
          </li>
          <li>
            Advanced Manufacturing: Utilizing diamond hybrids for precision
            applications where hardness and thermal management are crucial.
          </li>
        </ul>
      </div>
    </div>
    <div class="product-card">
      <div class="text order-1 order-lg-0">
        <h2>Hybrid+</h2>
        <p>
          is our premier hybrid coating solution. It establishes a permanent
          bond with the surface, creating a robust protective layer that shields
          your paintwork from harmful contaminants. Diamond Hybrid Plus can be
          applied in multiple layers, resulting in a thicker, harder coating
          that offers extended durability and superior protection.
        </p>

        <ul>
          <li>
            Cutting Tools: Enhanced lifespan and precision in cutting through
            tough materials.
          </li>
          <li>
            Coatings: Improved wear resistance for surfaces subjected to high
            stress.
          </li>
          <li>
            Electronics: Advanced thermal conductivity and electrical
            insulation.
          </li>
        </ul>
      </div>

      <div class="img">
        <img src="./imgs/product1.jpeg" alt="Hybrid+" class="product-img" />
      </div>
    </div>
  </div>
</section>
