<section>
  <div class="contact-intro">
    <h1 class="text-center">Nano Ceramic Products</h1>
  </div>
</section>

<section class="mt-5 contact-cards">
  <div class="container gallery-container">
    <div class="product-card">
      <div class="img">
        <img
          src="https://tools.royalshieldworld.com/public/imgs/self-Healing.png"
          alt="Self Healing"
          class="product-img"
        />
      </div>
      <div class="text">
        <h2>Self Healing</h2>
        <p>
          is a dual-component coating system that leverages innovative Healing
          Fusion Technology to integrate multiple layers into a single,
          resilient, and long-lasting protective surface
        </p>

        <ul>
          <li>
            Cutting and Drilling Tools: Combining diamond particles with a metal
            matrix to improve performance and durability.
          </li>
          <li>
            Wear-resistant Coatings: Enhancing the lifespan of surfaces exposed
            to high wear.
          </li>
          <li>
            Advanced Manufacturing: Utilizing diamond hypreds for precision
            applications where hardness and thermal management are crucial.
          </li>
        </ul>
      </div>
    </div>
    <div class="product-card">
      <div class="text order-1 order-lg-0">
        <h2>Diamond hypred+</h2>
        <p>
          is our premier hypred coating solution. It establishes a permanent
          bond with the surface, creating a robust protective layer that shields
          your paintwork from harmful contaminants. Diamond hypred Plus can be
          applied in multiple layers, resulting in a thicker, harder coating
          that offers extended durability and superior protection.
        </p>

        <ul>
          <li>
            Cutting Tools: Enhanced lifespan and precision in cutting through
            tough materials.
          </li>
          <li>
            Coatings: Improved wear resistance for surfaces subjected to high
            stress.
          </li>
          <li>
            Electronics: Advanced thermal conductivity and electrical
            insulation.
          </li>
        </ul>
      </div>

      <div class="img">
        <img
          src="https://tools.royalshieldworld.com/public/imgs/HYPERD+.png"
          alt="hypred+"
          class="product-img"
        />
      </div>
    </div>
    <div class="product-card">
      <div class="img">
        <img
          src="https://tools.royalshieldworld.com/public/imgs/DIAMOND-HYBRID.png"
          alt="Self Healing"
          class="product-img"
        />
      </div>
      <div class="text">
        <h2>Diamond hypred</h2>
        <p>
          Diamond hypred is an exceptionally hydrophobic hypred coating. This
          technology causes water to bead up and roll off the surface, carrying
          away dirt and grime. Diamond hypred is typically applied over Diamond
          hypred Plus in the layering process
        </p>

        <ul>
          <li>Hardness :-9h</li>
          <li>thickness :- 1.9 mm</li>
          <li>Warranty Certificate :-5 years</li>
        </ul>
      </div>
    </div>
    <div class="product-card">
      <div class="text order-1 order-lg-0">
        <h2>PURE XH Ceramic</h2>
        <p>
          XH is about making your customers’ happy and their cars shine and
          protected! Pure XH Nano-ceramic coating is the revolutionary product
          that creates a superior protective layer to keep auto surfaces strong
          and shiny
        </p>

        <ul>
          <li>TECHNICAL EXPERIMENT RESULTS</li>
          <li>Consumption: 5 ml/m²</li>
          <li>Coating Thickness: 200-250 nm</li>
          <li>WCA: 97° &#64;20 NL</li>
          <li>WCA after 1h: 92°</li>
          <li>WCA 25° &#64;20</li>
          <li>
            Washing test: 50 cycles of 0.15 kg (with no rub after detergent);
            9.22 hydrophobia, %20 coating thickness reduction.
          </li>
          <li>
            Wind tunnel: 100 km wind tunnel, substrate is 45° angle to the flow,
            reduction %24 in hydrophobia after 100,000 times.
          </li>
          <li>
            UV protection: 290 nm-1100nm, 35°C, 480 h effective, no change in
            color and a little bit increase in hydrophobia.
          </li>
        </ul>
      </div>

      <div class="img">
        <img
          src="https://tools.royalshieldworld.com/public/imgs/pure-xh.png"
          alt="hypred+"
          class="product-img"
        />
      </div>
    </div>
    <div class="product-card">
      <div class="img">
        <img
          src="https://tools.royalshieldworld.com/public/imgs/DIAMOND-N1.png"
          alt="Self Healing"
          class="product-img"
        />
      </div>
      <div class="text">
        <h2>Diamond N1</h2>
        <p>
          Diamond N1 is a premium-grade ceramic coating designed for
          exceptional, long-lasting protection against environmental damage.
          Renowned for its superior durability and robust protective qualities,
          Diamond N1 is specifically engineered to shield high-end vehicles from
          the elements. Its advanced formulation provides a resilient barrier
          against UV rays
        </p>

        <ul>
          <li>Hardness :8h</li>
          <li>thickness :-1.9 mm</li>
          <li>Warranty Certificate :-5 years</li>
        </ul>
      </div>
    </div>
    <div class="product-card">
      <div class="text order-1 order-lg-0">
        <h2>Light Ceramic Coating</h2>
        <p>
          Is an advanced Coating that prevents the staining on different
          surfaces of the vehicle by creating a nano sized coating barrier that
          repels liquids and prevents staining. Multi Purpose does not change
          the color or texture. Simply apply the coating and wipe it up after
          15-20 sec.
        </p>

        <ul>
          <li>Surface: Polyurethane/Acrylic automotive paint</li>
          <li>Consumption: 5 ml/m²</li>
          <li>Coating Thickness: 200-300 nm</li>
          <li>WCA: 97° &#64;20 NL</li>
          <li>WCA 25° &#64;20 NL</li>
          <li>
            Salt spray test: 480 h, reduction in 9.22 hydrophobia, %6, 17
            coating thickness reduction
          </li>
        </ul>
      </div>

      <div class="img">
        <img
          src="https://tools.royalshieldworld.com/public/imgs/light-ceramic-coating.png"
          alt="hypred+"
          class="product-img"
        />
      </div>
    </div>
    <div class="product-card">
      <div class="img">
        <img
          src="https://tools.royalshieldworld.com/public/imgs/metal-pro.png"
          alt="Self Healing"
          class="product-img"
        />
      </div>
      <div class="text">
        <h2>Metal Pro</h2>
        <p>
          MP+ is a special rust and corrosion resistant nano-coating for metal
          alloys including iron, steel, stainless steel, aluminum, nickel,
          magnesium, zinc, etc.
        </p>

        <ul>
          <li>Consumption: 5-8 ml/m²</li>
          <li>Coating thickness: 400-800 nm</li>
          <li>Water repellency: 97° &#64;20 µL, acrylic</li>
          <li>Oil repellency: 33° &#64;20 µL, acrylic</li>
          <li>Water sliding angle: 28° &#64;20 µL, acrylic</li>
          <li>Temperature durability: 275°C</li>
          <li>Shelf life: 1 year, 1 week after opening bottle</li>
          <li>Curing period: 6h pre, 24h to totally</li>
          <li>Keeping conditions: -3°C to +30°C</li>
        </ul>
      </div>
    </div>
    <div class="product-card">
      <div class="text order-1 order-lg-0">
        <h2>Rims coating</h2>
        <p>
          providing long-lasting shine and protection for car rims! The
          revolutionary Rims Nano-ceramic coating creates a superior protective
          layer to keep rims strong, clean, and shiny, providing excellent
          resistance to harsh environmental elements
        </p>

        <ul>
          <li>Consumption: 4 ml/m²</li>
          <li>Coating Thickness: 180-220 nm</li>
          <li>WCA: 95° &#64;20 NL</li>
          <li>WCA after 1h: 90°</li>
          <li>WCA 25° &#64;20 NL</li>
        </ul>
      </div>

      <div class="img">
        <img
          src="https://tools.royalshieldworld.com/public/imgs/rims-coating.png"
          alt="hypred+"
          class="product-img"
        />
      </div>
    </div>
    <div class="product-card">
      <div class="img">
        <img
          src="https://tools.royalshieldworld.com/public/imgs/ceramic-repoot.png"
          alt="Self Healing"
          class="product-img"
        />
      </div>
      <div class="text">
        <h2>CERAMIC REBOOT</h2>
        <p>
          is a spray sealant that incorporates the durability and hardness of
          glass in an easy to apply spray and wipe formula. More than a spray
          wax, Ceramic REBOOT is made with ceramic silica technology that leaves
          a surface glassy and smooth. Easy to use on all surfaces, Ceramic
          REBOOT leaves paint, chrome, plastic and glass extremely hydrophobic
          for 3-6 months. Shake well.
        </p>

        <ul>
          <li>Consumption: 3 ml/m²</li>
          <li>Coating Thickness: 150-200 nm</li>
          <li>WCA: 90° &#64;20 NL</li>
          <li>WCA after 1h: 85°</li>
          <li>WCA 25° &#64;20 NL</li>
        </ul>
      </div>
    </div>
  </div>
</section>
