section {
  position: relative;
  min-height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: 20px;
  overflow: hidden;
}
form {
  width: 100%;
  margin-inline: auto;
  margin-bottom: 200px;
}

.container {
  max-width: 800px;
}

input {
  width: 100%;
  padding: 14px;
  border-radius: 3px;
  border: 1px solid rgb(119, 119, 188);
  background-color: white;
  transition: 0.3s;
}

input:hover {
  border-color: transparent;
  background-color: #cfcfcf5d;
}
input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgb(106, 106, 166) !important;
}
.seccess-alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.seccess-alert:hover {
  background-color: #a0bbe6;
}

.fa-arrow-right {
  animation: arrow 1s infinite alternate;
  color: #5083d7;
}

.ownedByTab {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.38);
  display: flex;
  align-items: start;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.my-card {
  background-color: white;
  padding: 20px;
  text-align: center;
  transform: translateY(-100%);
  transition: 0.5s;
}
.my-card h3 {
  font-size: 20px;
  font-weight: 500;
}
.my-card h3 span {
  font-weight: 600;
}
.my-card h4 {
  font-size: 18px;
  font-weight: 500;
}
.ownedByTab.active {
  opacity: 1;
  visibility: visible;
}
.ownedByTab.active .my-card {
  transform: translateY(0);
}

.carousel-wrapper {
  margin-inline: auto;
  /* padding-top: 130px; */
}
.logo img {
  width: 70px;
}

.my-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}
@keyframes arrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5px);
  }
}

.logo-top-left {
  position: absolute;
  top: -50px;
  left: -250px;
  width: 50%;
  z-index: -1;
  transform: rotate(-20deg);
}
.logo-bottom-right {
  position: absolute;
  bottom: -250px;
  right: -150px;
  width: 50%;
  z-index: -1;
  transform: rotate(-20deg);
}

@media screen and (max-width: 850px) {
  .logo-top-left,
  .logo-bottom-right {
    width: 500px;
  }
}
