<!-- <nav>
  <div class="container">
    <a routerLink="/home">
      <img src="./imgs/logo.png" alt="" style="width: 70px" />
    </a>
  </div>
</nav> -->
<section>
  <img src="./imgs/logo-transparent.png" alt="logo" class="logo-top-left" />
  <img src="./imgs/logo-transparent.png" alt="logo" class="logo-bottom-right" />
  <div class="container pt-5">
    <div class="carousel-wrapper shadow-lg mb-5">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div style="background-color: rgb(200, 44, 44)" class="my-slide">
            <div>
              <h5>Royal Shield World</h5>
              <h5 class="mb-0">Proffessional Shield</h5>
            </div>
            <div class="logo">
              <img src="./imgs/logo.png" alt="logo" />
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div style="background-color: #29619a" class="my-slide">
            <div>
              <h5>Royal Shield World</h5>
              <h5 class="mb-0">Max Pro</h5>
            </div>
            <div class="logo">
              <img src="./imgs/logo.png" alt="logo" />
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div style="background-color: #5e777d" class="my-slide">
            <div>
              <h5>Royal Shield World</h5>
              <h5 class="mb-0">Elegance Guard</h5>
            </div>
            <div class="logo">
              <img src="./imgs/logo.png" alt="logo" />
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>

    <p class="text-danger fw-medium">Check Your serial</p>
    <h3 class="text-primary">
      Is your Product <br />
      Authentic
    </h3>
    <p class="text-danger fw-medium">Fill your Serial Number below</p>
    <form [formGroup]="serialForm">
      <!-- <label for="serial" class="mb-2 fw-medium">Enter Serial Number</label> -->
      <input
        type="text"
        id="serial"
        class="form-control shadow"
        formControlName="serialNumber"
        placeholder="ABC-"
      />
      <div class="d-flex align-items-center justify-content-between">
        <button
          class="btn btn-outline-dark rounded-0 mt-3"
          (click)="checkSerial()"
        >
          Check @if (loading) {
          <i class="fa-solid fa-spinner fa-spin ms-2"></i>
          }
        </button>

        @if (numOfChecksTab) {
        <a routerLink="/activation" class="btn btn-primary rounded-0 mt-3"
          >Continue</a
        >
        }
      </div>
      @if (serialForm.get('serialNumber')?.errors &&
      serialForm.get('serialNumber')?.touched) {
      <div class="alert alert-danger mt-3">
        @if (serialForm.get('serialNumber')?.getError('required')) {
        <p class="mb-0">Feild is required</p>
        } @if (serialForm.get('serialNumber')?.getError('pattern')) {
        <p>Make sure to enter a valid serial</p>
        <p class="mb-0 text-black-50">Ex: ABC-123123</p>
        }
      </div>
      } @if (moreThanThree) {
      <div class="mt-3 alert alert-danger">
        <p class="mb-0">
          You Can't check the same serial number more than 3 times
        </p>
      </div>
      } @if (numOfChecksTab) {
      <p class="mt-3 mb-0">Your 1 step closer to activate you warranty</p>
      <p class="fw-bold text-primary">
        This product provided by Royal Shield World Group
      </p>
      <div class="alert alert-primary mt-3" role="alert">
        <p class="mb-0">You have {{ numOfChecks }} remaining Checks</p>
      </div>

      }
    </form>
  </div>
</section>

<div
  class="ownedByTab"
  [ngClass]="{ active: ownedByTab }"
  (click)="ownedByTab = false"
>
  <div class="my-card">
    <h3>Sorry this serial number owned by mr: {{ ownedBy.name }}</h3>
    <h4>His phone number is ( ******** {{ ownedBy.phone }} )</h4>
  </div>
</div>
