<section class="py-5 my-5">
  <div class="container">
    <nav>
      <button class="btn" (click)="activaTap = 'appintments'">
        Appointments
      </button>
      <button class="btn" (click)="activaTap = 'applications'">
        Applications
      </button>
      <button class="btn" (click)="activaTap = 'blogs'">Blogs</button>
    </nav>

    @if(activaTap === 'appintments'){
    <app-appointments></app-appointments>
    }@else if (activaTap === 'applications') {
    <app-applications></app-applications>
    }@else if(activaTap === 'blogs'){
    <app-blogs></app-blogs>
    }
  </div>
</section>
