<section>
  <div class="contact-intro">
    <h1 class="text-center">Graphine Products</h1>
  </div>
</section>

<section class="mt-5">
  <div class="container gallery-container">
    <div class="product-card">
      <div class="img">
        <img
          src="./imgs/product3.jpeg"
          alt="Graphene Hybrid"
          class="product-img"
        />
      </div>
      <div class="text">
        <h2>Graphene Hybrid</h2>
        <p>
          Graphene Hybrid is a state-of-the-art ceramic coating designed for
          ease of use and visibility with the help of our UV Flashlight and
          patent-pending UV Tracer Technology. This advanced formula delivers
          long-lasting, extreme self-cleaning properties and is suitable for a
          variety of surfaces including single-stage and clear-coated paints,
          glass, plastic trim, polycarbonate, rubber molding, and wheels—all
          with just one bottle.
        </p>
        <ul>
          <li>>9H Hardness, 7+ Years of Protection</li>
          <li>
            50% Increased Coating Resin Compared to the previous Graphene
            Ceramic Coating , providing enhanced resilience.
          </li>
          <li>Additional Silicate Resin Boosts durability and longevity.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
