<section>
  <div class="contact-intro">
    <h1 class="text-center">Graphine Products</h1>
  </div>
</section>

<section class="mt-5 contact-cards">
  <div class="container gallery-container">
    <div class="product-card">
      <div class="img">
        <img src="./imgs/GRAPHNE.png" alt="Self Healing" class="product-img" />
      </div>
      <div class="text">
        <h2>Graphene Hybrid Plus</h2>
        <p>
          has taken ceramic coating technology to the next level! Our Graphene
          Hybrid Plus boasts an impressive
        </p>

        <ul>
          <li>
            0H hardness rating. Compared to our previous Ceramic Coating, the
            Graphene Hybrid Plus offers enhanced features:
          </li>
          <li>Hardness:- 10H</li>
          <li>Carbon Fiber:- 90 %</li>
          <li>Warranty :- 12Years</li>
        </ul>
      </div>
    </div>
    <div class="product-card">
      <div class="text order-1 order-lg-0">
        <h2>Graphene hybrid</h2>
        <p>
          Graphene Hybrid is a state-of-the-art ceramic coating designed for
          ease of use and visibility with the help of our UV Flashlight and
          patent-pending UV Tracer Technology
        </p>

        <ul>
          <li>Hardness :- 9H</li>
          <li>Carbon Fiber:- 85 %</li>
          <li>Warranty :- 10+ Years</li>
        </ul>
      </div>

      <div class="img">
        <img
          src="./imgs/GRAPHENE-HYBRID.png"
          alt="Hybrid+"
          class="product-img"
        />
      </div>
    </div>
    <div class="product-card">
      <div class="img">
        <img
          src="./imgs/GRAPHENE-PRO.png"
          alt="Self Healing"
          class="product-img"
        />
      </div>
      <div class="text">
        <h2>Graphene Pro</h2>
        <p>
          Graphene Hybrid is a state-of-the-art ceramic coating designed for
          ease of use and visibility with the help of our UV Flashlight and
          patent-pending UV Tracer Technology
        </p>

        <ul>
          <li>Hardness :- 9H</li>
          <li>Warranty :- 10 years</li>
          <li>Carbon Fiber:- 75 %</li>
        </ul>
      </div>
    </div>
  </div>
</section>
