<section>
  <div class="contact-intro">
    <h1 class="text-center">Our Trusted Partners</h1>
  </div>
</section>

<section class="py-5">
  <div class="container px-md-5">
    <div class="row align-items-center mb-5 row-gap-2">
      <!-- partner -->
      <div
        class="col-lg-6 d-flex align-items-center justify-content-lg-end order-1 order-lg-0"
      >
        <div class="partner-text">
          <h3>Auto Guard</h3>
          <p class="mb-4 text-light">
            Ultimate defense for your car's exterior and interior, providing
            long-lasting protection from scratches, weather, and wear.
          </p>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center justify-content-lg-start">
        <div class="partners-logo-card">
          <img src="./imgs/brand5.png" alt="" />
        </div>
      </div>
    </div>
    <div class="row align-items-center mb-5 row-gap-2">
      <!-- partner -->
      <div class="col-lg-6 d-flex align-items-center justify-content-lg-end">
        <div class="partners-logo-card">
          <img src="./imgs/brand3.png" alt="" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="partner-text">
          <h3>Shield Max</h3>
          <p class="mb-4 text-light">
            Advanced coating technology to protect your vehicle from harsh
            elements, ensuring a sleek finish and superior durability
          </p>
        </div>
      </div>
    </div>
    <div class="row align-items-center mb-5 row-gap-2">
      <!-- partner -->
      <div
        class="col-lg-6 d-flex align-items-center justify-content-lg-end order-1 order-lg-0"
      >
        <div class="partner-text">
          <h3>Gloss Guard</h3>
          <p class="mb-4 text-light">
            A premium line of car protection products that maintains the sheen
            and vibrancy of your vehicle’s paintwork while resisting
            environmental damage.
          </p>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center justify-content-lg-start">
        <div class="partners-logo-card">
          <img src="./imgs/brand4.png" alt="" />
        </div>
      </div>
    </div>

    <div class="row align-items-center mb-5 row-gap-2">
      <!-- partner -->
      <div class="col-lg-6 d-flex align-items-center justify-content-lg-end">
        <div
          class="partners-logo-card-bg"
          style="background-color: rgb(37, 36, 36)"
        >
          <img src="./imgs/royal--nano.png" alt="logo" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="partner-text">
          <h3>Royal nano</h3>
          <p class="mb-4 text-light">
            The only one in Egypt that protects against greasy towels and the
            causes of staleness from traditional washing tools, with a 6-year
            warranty and a long lifespan.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-5 text-center">
  <p class="mx-auto" style="max-width: 800px">
    "Become a partner with Royal Shield and join us in delivering top-quality
    car protection products that redefine excellence."
  </p>
  <a routerLink="/contact-us" class="dark-btn mt-3"> Become a partner </a>
</section>
