<section>
  <div class="contact-intro">
    <h1 class="text-center">Our Trusted Partners</h1>
  </div>
</section>

<section class="py-5">
  <div class="container px-md-5">
    <div>
      <select
        class="select"
        aria-label="Default select example"
        [(ngModel)]="code"
      >
        <!-- <option selected>Filter by country</option> -->
        <option value="" disabled selected>Filter by country</option>
        @for (reseller of resellers; track $index) {
        <option [value]="reseller.countryCode">{{ reseller.country }}</option>
        }
      </select>
      <button class="reset-btn ms-2" (click)="code = ''">Reset</button>
    </div>
    <div class="row g-3">
      @for (reseller of resellers | reseller: code; track $index) {
      <div class="col-lg-6">
        <a
          routerLink="/contact-us"
          [fragment]="reseller.fragment"
          class="reseller-card"
          [title]="'Send message to ' + reseller.name"
        >
          <div class="reseller-flag">
            <img [src]="reseller.flagPath" [alt]="reseller.name" />
          </div>
          <div class="reseller-content">
            <h3 class="reseller-name">{{ reseller.name }}</h3>
            <p class="reseller-description">
              {{ reseller.description }}
            </p>
          </div>
        </a>
      </div>
      }
    </div>
  </div>
</section>

<section class="pt-5 text-center">
  <p class="mx-auto p-2" style="max-width: 800px">
    "Become a partner with Royal Shield and join us in delivering top-quality
    car protection products that redefine excellence."
  </p>
  <a routerLink="/contact-us" class="dark-btn mt-3"> Become a partner </a>
</section>
