.reseller-card {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #1c1c1c;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.reseller-card:hover {
  transform: translateX(5px);
  background-color: #222;
  box-shadow: 0 6px 40px rgba(255, 215, 0, 0.15);
}

.reseller-flag {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.reseller-flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reseller-content {
  width: calc(100% - 100px);
}

.reseller-name {
  font-size: 1.3rem;
  color: #af9609;
  font-weight: 400;
}

.reseller-description {
  font-size: 1rem;
  color: #ddd;
  line-height: 1.5;
}
.select,
.reset-btn {
  background-color: #1c1c1c;
  color: #ddd;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  appearance: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, border 0.3s ease;
  margin-bottom: 14px;
}

.select:hover,
.reset-btn:hover {
  background-color: #333;
  border-color: #bbb;
}

.select::after {
  content: "";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #ddd;
}

.select:focus {
  outline: none;
  border-color: #bbb;
}

.select::-webkit-scrollbar {
  width: 8px;
}

.select::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 10px;
}

.select::-webkit-scrollbar-track {
  background: #1c1c1c;
}

@media (max-width: 575.98px) {
  .reseller-card {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .reseller-flag {
    margin-right: 0;
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
  }

  .reseller-content {
    width: 100%;
  }

  .reseller-name {
    font-size: 1.25rem;
  }

  .reseller-description {
    font-size: 0.9rem;
  }
}
