<section class="py-5 my-5">
  <div class="container">
    <h1 class="text-center">What Customers Say About Us</h1>

    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="testimonial-card text-black">
          <h5>Product</h5>
          <p class="fs-mini mb-0">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            quia modi, hic in rerum exercitationem!
          </p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial-card text-black">
          <h5>Product</h5>
          <p class="fs-mini mb-0">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            quia modi, hic in rerum exercitationem!
          </p>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
