<section>
  <div class="contact-intro">
    <h1 class="text-center">Paint Protection Film</h1>
  </div>
</section>

<section class="mt-5 contact-cards">
  <div class="container gallery-container">
    <div class="product-card">
      <div class="img">
        <img
          src="https://tools.royalshieldworld.com/public/imgs/max-pro.png"
          alt="Self Healing"
          class="product-img"
        />
      </div>
      <div class="text">
        <h2>Max pro</h2>
        <p>
          Max Pro is an advanced paint protection film designed to provide
          maximum security for your vehicle's exterior. This film utilizes
          cutting-edge polyurethane technology and features a self-healing
          property, with a self-healing rate of 90%. This means that the film
          can automatically repair superficial scratches when exposed to higher
          temperatures. With a thickness of 340 microns, "Max Pro" offers
          protection that lasts for over 10 years, maintaining your car's new
          appearance while providing effective protection against contaminants
          and UV rays for a worry-free driving experience.
        </p>
      </div>
    </div>
    <div class="product-card">
      <div class="text order-1 order-lg-0">
        <h2>Elegance Guard</h2>
        <p>
          Elegance Guard is a high-performance protection film that ensures
          exceptional protection for your vehicle's paintwork. It utilizes
          advanced technology that allows it to achieve a self-healing rate of
          up to 85%, meaning it can automatically repair minor scratches. With a
          thickness of 280 microns, the film provides protection that lasts for
          over 7 years, helping to maintain your car's shiny appearance while
          protecting it from contaminants and UV rays.
        </p>
      </div>

      <div class="img">
        <img
          src="https://tools.royalshieldworld.com/public/imgs/elegance-guard.png"
          alt="Hybrid+"
          class="product-img"
        />
      </div>
    </div>
    <div class="product-card">
      <div class="img">
        <img
          src="https://tools.royalshieldworld.com/public/imgs/pro-gard.png"
          alt="Self Healing"
          class="product-img"
        />
      </div>
      <div class="text">
        <h2>Professional Shield</h2>
        <p>
          Professional Shield is a professionally designed protection film that
          safeguards your vehicle's paintwork from damage. It features a
          self-healing property with a rate of up to 75%, allowing it to
          automatically repair minor scratches. With a thickness of 240 microns,
          "Professional Shield" provides protection that lasts for over 5 years,
          ensuring your car maintains an attractive appearance while protecting
          it from contaminants and UV rays.
        </p>
      </div>
    </div>
    <div class="product-card">
      <div class="text order-1 order-lg-0">
        <h2>Max m matte</h2>
        <p>
          Max M Matte is an innovative protection film that provides a matte
          finish and exceptional protection for your vehicle's paintwork. With a
          thickness of 290 microns, it is resistant to scratches and UV rays,
          ensuring a long-lasting beautiful appearance. It comes with a 10-year
          warranty and is easy to clean, making it an ideal choice for car
          enthusiasts.
        </p>
      </div>
      <div class="img">
        <img
          src="https://tools.royalshieldworld.com/public/imgs/max-m-matt.png"
          alt="Self Healing"
          class="product-img"
        />
      </div>
    </div>
  </div>
</section>
