<section>
  <div class="contact-intro">
    <h1 class="text-center">Paint Protection Film</h1>
  </div>
</section>

<section class="mt-5 contact-cards">
  <div class="container gallery-container">
    <div class="product-card">
      <div class="img">
        <img src="./imgs/paint1.jpeg" alt="Self Healing" class="product-img" />
      </div>
      <div class="text">
        <h2>Max pro</h2>
        <p>
          Max Pro is a high-performance paint protection solution designed to
          offer maximum defense for your vehicle's exterior. This premium
          coating combines advanced technology with durability to ensure
          comprehensive protection. Superior Hardness: Provides a robust shield
          with enhanced hardness, reducing the risk of scratches and abrasions.
        </p>

        <ul>
          <li>thickness: 340Smoothness factor: n1 Hardness:- 10H</li>
          <li>+10 Years of Warranty%</li>
        </ul>
      </div>
    </div>
    <div class="product-card">
      <div class="text order-1 order-lg-0">
        <h2>Elegance Guard</h2>
        <p>
          Is a premium paint protection product designed to provide a
          sophisticated level of care for your vehicle’s finish. It combines
          advanced technology with a focus on aesthetics and long-term
          performance.
        </p>

        <ul>
          <li>Lthickness: 280 micro</li>
          <li>Smoothness factor: n1</li>
          <li>+7 years of Warranty</li>
        </ul>
      </div>

      <div class="img">
        <img src="./imgs/paint2.jpeg" alt="Hybrid+" class="product-img" />
      </div>
    </div>
    <div class="product-card">
      <div class="img">
        <img src="./imgs/paint3.jpeg" alt="Self Healing" class="product-img" />
      </div>
      <div class="text">
        <h2>Professional Shield</h2>
        <p>
          Is a top-tier paint protection system tailored for those who seek a
          professional-grade solution for their vehicle. Engineered with
          precision, it offers a blend of advanced protection and ease of
          maintenance.
        </p>

        <ul>
          <li>thickness: 240 micro</li>
          <li>+5years of Warranty</li>
        </ul>
      </div>
    </div>
    <div class="product-card">
      <div class="text">
        <h2>Max m matte</h2>
        <p>
          Delivers exceptional protection while maintaining a sophisticated,
          non-reflective finish. This advanced coating is specifically designed
          to safeguard matte and satin finishes from environmental damage while
          preserving their unique look
        </p>

        <ul>
          <li>thickness:280 micro</li>
          <li>Smoothness factor: n1</li>
          <li>+10 years of Warranty</li>
        </ul>
      </div>
      <div class="img">
        <img src="./imgs/paint4.jpeg" alt="Self Healing" class="product-img" />
      </div>
    </div>
  </div>
</section>
