<section>
  <div class="contact-intro">
    <h1 class="text-center">Wrapping</h1>
  </div>
</section>
<!-- 
<div class="vh-100">
  <div class="product-wrapper">
    <div class="color-input">
      <input type="color" [(ngModel)]="color1" (input)="changeColor()" />
      <input type="color" [(ngModel)]="color2" (input)="changeColor()" />
      <input type="color" [(ngModel)]="color3" (input)="changeColor()" />
    </div>

    <img
      src="/imgs/car.png"
      class="car-image"
      [style.background-image]="finalColor"
      #screenshotDiv
      (click)="takeScreenshot()"
    />
  </div>
</div> -->

<section class="mt-5 contact-cards">
  <div class="container gallery-container">
    <div class="product-card">
      <div class="img">
        <img
          src="/imgs/car.png"
          class="car-image"
          [style.background-image]="finalColor"
          #screenshotDiv
        />
      </div>
      <div class="text">
        <h2>Royal Wrap Shield</h2>
        <p>
          Royal WrapShield" is a premium vinyl film that provides exceptional
          protection and a distinctive look for your car, with a wide range of
          colors and finishes to suit all tastes.
        </p>

        <!-- <ul>
          <li>A variety of glossy and matte color options.</li>
          <li>Advanced protection against scratches and UV rays.</li>
          <li>Easy application with bubble-reduction technology.</li>
          <li>Durability lasting up to 10 years.</li>
        </ul> -->
        <div class="color-input">
          <input type="color" [(ngModel)]="color1" (input)="changeColor()" />
          <input type="color" [(ngModel)]="color2" (input)="changeColor()" />
          <input type="color" [(ngModel)]="color3" (input)="changeColor()" />
        </div>

        <button
          class="btn btn-outline-light save-img-btn"
          (click)="takeScreenshot()"
        >
          Save image
        </button>
      </div>
    </div>
  </div>
</section>
