<section class="py-5 my-5">
  <div class="container">
    <div class="mb-5">
      <form [formGroup]="serialForm">
        <div class="my-inputs">
          <div class="input-parent">
            <label for="serialInput">Enter new Serial Number</label>
            <input
              type="text"
              name=""
              id="serialInput"
              class="form-control"
              formControlName="serialNumber"
              placeholder="ABC-123456"
            />
          </div>
          <div class="input-parent">
            <label for="branch">Enter Branch</label>
            <input
              type="text"
              name=""
              id="branch"
              class="form-control"
              formControlName="branch"
              placeholder="..."
            />
          </div>
        </div>
        <button class="btn btn-primary mt-2" (click)="addSerial()">Add</button>
        @if (serialForm.get('serialNumber')?.errors &&
        serialForm.get('serialNumber')?.touched) {
        <div class="alert alert-danger mt-2">
          @if (serialForm.get('serialNumber')?.getError('required')) {
          <p class="mb-0">Feild is required</p>
          } @if (serialForm.get('serialNumber')?.getError('pattern')) {
          <p>Make sure to enter a valid serial</p>
          <p class="mb-0 text-black-50">Ex: ABC-123123</p>
          }
        </div>
        }
      </form>
      <button class="btn btn-secondary mt-2" (click)="exportData()">
        Export table
      </button>
    </div>
    <hr />

    <div class="mat-elevation-z8">
      <table mat-table matSort [dataSource]="dataSource" id="serials">
        <!-- Serial Number Column -->
        <ng-container matColumnDef="serialNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="">
            Serial Number
          </th>
          <td mat-cell *matCellDef="let element">{{ element.serialNumber }}</td>
        </ng-container>

        <!-- Number of Checks Column -->
        <ng-container matColumnDef="numOfChecks">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Number of Checks
          </th>
          <td mat-cell *matCellDef="let element">{{ element.numOfChecks }}</td>
        </ng-container>
        <ng-container matColumnDef="branch">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>

          <td mat-cell *matCellDef="let element">
            @if(element.branch){
            {{ element.branch }}
            } @else {
            <form
              id="ubdateBranch"
              (ngSubmit)="UpdateBranch(element.serialNumber)"
              [formGroup]="branchUpdateForm"
            >
              <input
                type="text"
                placeholder="brnach?"
                formControlName="branch"
                [id]="element.serialNumber"
              />
            </form>
            }
          </td>
        </ng-container>

        <!-- Activation Status Column -->
        <ng-container matColumnDef="activated">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Activation Status
          </th>
          <td mat-cell *matCellDef="let element">
            <span
              [class]="
                element.activated ? 'bg-info' : 'bg-secondary text-white'
              "
              class="py-1 px-2 rounded-pill"
            >
              {{ element.activated ? "activated" : "not activated" }}
            </span>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let element">
            <button
              class="btn btn-danger"
              (click)="deleteSerial(element.serialNumber)"
            >
              <i
                class="fa fa-trash"
                (click)="deleteSerial(element.serialNumber)"
              ></i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <!-- Paginator -->
      <mat-paginator
        [pageSizeOptions]="paginatorNumbers"
        showFirstLastButtons
        aria-label="Select page"
      ></mat-paginator>
    </div>
  </div>
</section>
